In [32]:
# ===========================================
# üß± CELL 1 ‚Äî Import Libraries and Setup
# ===========================================

import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

# Display settings for clarity
pd.set_option('display.max_columns', 50)
pd.set_option('display.float_format', lambda x: f'{x:.2f}')

# Define data paths
data_path = '../data/home-credit-default-risk/'   # adjust if needed
save_path = data_path

print("Libraries imported and paths set ‚úÖ")

Libraries imported and paths set ‚úÖ

In [33]:
# ===========================================
# üìä CELL 2 ‚Äî Load the Datasets
# ===========================================

app = pd.read_csv(data_path + 'application_train.csv')
bureau = pd.read_csv(data_path + 'bureau.csv')
prev = pd.read_csv(data_path + 'previous_application.csv')

print("‚úÖ Datasets loaded successfully:")
print(f"Application: {app.shape}")
print(f"Bureau: {bureau.shape}")
print(f"Previous Application: {prev.shape}")

‚úÖ Datasets loaded successfully:
Application: (307511, 122)
Bureau: (1716428, 17)
Previous Application: (1670214, 37)

In [34]:
# ===========================================
# üßæ CELL 3 ‚Äî Missing Value Summary Function
# ===========================================

def missing_summary(df, name, show_top=20):
    missing = df.isnull().sum()
    missing = missing[missing > 0].sort_values(ascending=False)
    percent = (missing / len(df)) * 100
    summary = pd.DataFrame({'Missing Values': missing, '% of Total': percent})
    print(f"\nüßæ Missing Summary for {name}: (Top {show_top})")
    display(summary.head(show_top))
    return summary

# Display summaries
missing_summary(app, "Application Data")
missing_summary(bureau, "Bureau Data")
missing_summary(prev, "Previous Application Data")

üßæ Missing Summary for Application Data: (Top 20)

                          Missing Values  % of Total
COMMONAREA_MEDI                   214865       69.87
COMMONAREA_MODE                   214865       69.87
COMMONAREA_AVG                    214865       69.87
NONLIVINGAPARTMENTS_MODE          213514       69.43
NONLIVINGAPARTMENTS_MEDI          213514       69.43
NONLIVINGAPARTMENTS_AVG           213514       69.43
FONDKAPREMONT_MODE                210295       68.39
LIVINGAPARTMENTS_AVG              210199       68.35
LIVINGAPARTMENTS_MEDI             210199       68.35
LIVINGAPARTMENTS_MODE             210199       68.35
FLOORSMIN_MEDI                    208642       67.85
FLOORSMIN_MODE                    208642       67.85
FLOORSMIN_AVG                     208642       67.85
YEARS_BUILD_MODE                  204488       66.50
YEARS_BUILD_MEDI                  204488       66.50
YEARS_BUILD_AVG                   204488       66.50
OWN_CAR_AGE                       202929       65.99
LANDAREA_AVG                      182590       59.38
LANDAREA_MEDI                     182590       59.38
LANDAREA_MODE                     182590       59.38

üßæ Missing Summary for Bureau Data: (Top 20)

                        Missing Values  % of Total
AMT_ANNUITY                    1226791       71.47
AMT_CREDIT_MAX_OVERDUE         1124488       65.51
DAYS_ENDDATE_FACT               633653       36.92
AMT_CREDIT_SUM_LIMIT            591780       34.48
AMT_CREDIT_SUM_DEBT             257669       15.01
DAYS_CREDIT_ENDDATE             105553        6.15
AMT_CREDIT_SUM                      13        0.00

üßæ Missing Summary for Previous Application Data: (Top 20)

                           Missing Values  % of Total
RATE_INTEREST_PRIVILEGED          1664263       99.64
RATE_INTEREST_PRIMARY             1664263       99.64
AMT_DOWN_PAYMENT                   895844       53.64
RATE_DOWN_PAYMENT                  895844       53.64
NAME_TYPE_SUITE                    820405       49.12
DAYS_LAST_DUE                      673065       40.30
DAYS_FIRST_DRAWING                 673065       40.30
DAYS_FIRST_DUE                     673065       40.30
DAYS_TERMINATION                   673065       40.30
NFLAG_INSURED_ON_APPROVAL          673065       40.30
DAYS_LAST_DUE_1ST_VERSION          673065       40.30
AMT_GOODS_PRICE                    385515       23.08
AMT_ANNUITY                        372235       22.29
CNT_PAYMENT                        372230       22.29
PRODUCT_COMBINATION                   346        0.02
AMT_CREDIT                              1        0.00

                           Missing Values  % of Total
RATE_INTEREST_PRIVILEGED          1664263       99.64
RATE_INTEREST_PRIMARY             1664263       99.64
AMT_DOWN_PAYMENT                   895844       53.64
RATE_DOWN_PAYMENT                  895844       53.64
NAME_TYPE_SUITE                    820405       49.12
DAYS_LAST_DUE                      673065       40.30
DAYS_FIRST_DRAWING                 673065       40.30
DAYS_FIRST_DUE                     673065       40.30
DAYS_TERMINATION                   673065       40.30
NFLAG_INSURED_ON_APPROVAL          673065       40.30
DAYS_LAST_DUE_1ST_VERSION          673065       40.30
AMT_GOODS_PRICE                    385515       23.08
AMT_ANNUITY                        372235       22.29
CNT_PAYMENT                        372230       22.29
PRODUCT_COMBINATION                   346        0.02
AMT_CREDIT                              1        0.00

In [35]:
# ===========================================
# üßπ CELL 4 ‚Äî Clean Application Data
# ===========================================

# Drop sparsely populated columns (>65% missing)
drop_app_cols = [
    'COMMONAREA_MEDI','COMMONAREA_MODE','COMMONAREA_AVG',
    'NONLIVINGAPARTMENTS_MODE','NONLIVINGAPARTMENTS_MEDI','NONLIVINGAPARTMENTS_AVG',
    'FONDKAPREMONT_MODE','LIVINGAPARTMENTS_AVG','LIVINGAPARTMENTS_MEDI','LIVINGAPARTMENTS_MODE'
]
drop_app_cols = [c for c in drop_app_cols if c in app.columns]

app = app.drop(columns=drop_app_cols)
print(f"Dropped {len(drop_app_cols)} sparse columns from application data ‚úÖ")

# Drop any column with >60% missing (except ID and TARGET)
threshold = 0.6
high_missing = app.columns[app.isnull().mean() > threshold].tolist()
high_missing = [c for c in high_missing if c not in ['SK_ID_CURR','TARGET']]

if high_missing:
    print(f"Dropping {len(high_missing)} additional high-missing columns.")
    app = app.drop(columns=high_missing)

# Impute numeric ‚Üí median, categorical ‚Üí 'Unknown'
num_cols = [c for c in app.select_dtypes(include=['int64','float64']).columns if c not in ['SK_ID_CURR','TARGET']]
cat_cols = app.select_dtypes(include=['object']).columns.tolist()

num_imputer = SimpleImputer(strategy='median')
if num_cols:
    app[num_cols] = num_imputer.fit_transform(app[num_cols])

if cat_cols:
    app[cat_cols] = app[cat_cols].fillna('Unknown')

print("Application data cleaned ‚úÖ")
missing_summary(app, "Application Data (Cleaned)")

Dropped 10 sparse columns from application data ‚úÖ
Dropping 7 additional high-missing columns.
Application data cleaned ‚úÖ

üßæ Missing Summary for Application Data (Cleaned): (Top 20)

Empty DataFrame
Columns: [Missing Values, % of Total]
Index: []

Empty DataFrame
Columns: [Missing Values, % of Total]
Index: []

In [36]:
# ===========================================
# üè¶ CELL 5 ‚Äî Clean Bureau Data
# ===========================================

# Replace numeric NaNs with 0, categorical NaNs with 'Unknown'
num_cols = bureau.select_dtypes(include=['int64','float64']).columns.tolist()
cat_cols = bureau.select_dtypes(include=['object']).columns.tolist()

bureau[num_cols] = bureau[num_cols].fillna(0)
bureau[cat_cols] = bureau[cat_cols].fillna('Unknown')

print("Bureau data cleaned ‚úÖ")
missing_summary(bureau, "Bureau Data (Cleaned)")

Bureau data cleaned ‚úÖ

üßæ Missing Summary for Bureau Data (Cleaned): (Top 20)

Empty DataFrame
Columns: [Missing Values, % of Total]
Index: []

Empty DataFrame
Columns: [Missing Values, % of Total]
Index: []

In [37]:
# ===========================================
# üìÇ CELL 6 ‚Äî Clean Previous Applications Data
# ===========================================

# Drop columns with almost all missing values
drop_prev_cols = [c for c in ['RATE_INTEREST_PRIVILEGED','RATE_INTEREST_PRIMARY'] if c in prev.columns]
if drop_prev_cols:
    prev = prev.drop(columns=drop_prev_cols)
    print(f"Dropped sparse columns: {drop_prev_cols}")

# Numeric ‚Üí median, Categorical ‚Üí 'Unknown'
num_cols = [c for c in prev.select_dtypes(include=['int64','float64']).columns if c not in ['SK_ID_CURR','SK_ID_PREV']]
cat_cols = prev.select_dtypes(include=['object']).columns.tolist()

if num_cols:
    prev[num_cols] = prev[num_cols].fillna(prev[num_cols].median())

if cat_cols:
    prev[cat_cols] = prev[cat_cols].fillna('Unknown')

print("Previous Applications data cleaned ‚úÖ")
missing_summary(prev, "Previous Applications (Cleaned)")

Dropped sparse columns: ['RATE_INTEREST_PRIVILEGED', 'RATE_INTEREST_PRIMARY']
Previous Applications data cleaned ‚úÖ

üßæ Missing Summary for Previous Applications (Cleaned): (Top 20)

Empty DataFrame
Columns: [Missing Values, % of Total]
Index: []

Empty DataFrame
Columns: [Missing Values, % of Total]
Index: []

In [38]:
# ===========================================
# üíæ CELL 7 ‚Äî Save Cleaned Datasets
# ===========================================

app.to_csv(save_path + 'application_train_cleaned.csv', index=False)
bureau.to_csv(save_path + 'bureau_cleaned.csv', index=False)
prev.to_csv(save_path + 'previous_application_cleaned.csv', index=False)

print("‚úÖ All cleaned datasets saved successfully!")

‚úÖ All cleaned datasets saved successfully!

In [39]:
 # ===========================================
# üß† CELL 8 ‚Äî Verification Check
# ===========================================

for name, df in zip(['Application', 'Bureau', 'Previous Application'], [app, bureau, prev]):
    total_missing = df.isnull().sum().sum()
    print(f"{name} Data ‚Üí Shape: {df.shape} | Total Missing: {total_missing}")

Application Data ‚Üí Shape: (307511, 105) | Total Missing: 0
Bureau Data ‚Üí Shape: (1716428, 17) | Total Missing: 0
Previous Application Data ‚Üí Shape: (1670214, 35) | Total Missing: 0